body {
    margin: 0;
    padding: 0;
}

#board {
    background-color: rgb(58, 58, 119);
    height: 90vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: rgb(46, 123, 46);
    position: absolute;
}

.obstacle {
    background-color: rgb(231, 16, 231);
    position: absolute;
}

#points {
    background-color: rgb(58, 58, 119);
    height: 10vh;
    position: relative;
    text-align: center;
    font-size: 40px;
    color: rgb(30, 37, 20);
    
    
}

#points span {
    color: rgb(179, 221, 15);
    border: 2px solid rgb(86, 143, 21);
    border-radius: 5px;
}